.navbar{
    background-color: #fff;
    color: black;
}

.background{
    background-color: #fff;
}

.brand{
    background-color: #fff;
}

.topUsername{
    margin-right: 20px;
    margin-top: 7px;
}

.fontSize{
    font-size: 18px;
}